/* ----------------------------------- */
/**
 * @package WP-Mobilizer
 * @link http://www.wp-mobilizer.com
 * @copyright Copyright &copy; 2014, Kilukru Media
 * @version: 1.0.8
 */
/* ----------------------------------- */

/* ----------------------------------- */
/* Commons Frontend Styles */
.mblzr_force_mobile{
	display: block;
	font-size: 0.85em;
	outline: none;
	padding: 10px 0;
	text-align: center;
}
/* ----------------------------------- */